.container1{
    justify-content: center;
    background-color: gainsboro;
    width:100%;
    height:250px;
    position: relative;
}

.container1 h3{
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.wrapper button{
    border-radius: 8px;
    width:80px;
    height:40px;
    margin:5px;
}  

/* Green Button */
#green {
    background-color: #008080;
    color:#fff;
    transition: 0.5s;
}

#green:hover{
    background-color: #90ee90;
    color:#000;
    cursor: pointer;
}


/* Red Button */
#red {
    background-color: #ff0000;
    color:#fff;
    transition: 0.5s;
}

#red:hover{
    background-color: #800000;
    cursor: pointer;
}



/* Blue Button */
#blue{
    background-color: #1e90ff;
    transition: 0.5s;
    color:#fff;
}

#blue:hover{
    background-color: #00ffff;
    color:#000;
    cursor: pointer;
}



/* Gray Button */
#random {
    background-color:#545454;
    transition: 0.5s;
    color: #fff
}

#random:hover{
    background-color: #f0ffff;
    color:#000;
    cursor: pointer;
}