/* Comment in Style Sheet */
*{
    background-color: #545454;
    color: #fff;
}

#change {
    color:dodgerblue;
}

#firstbtn:hover {
    background-color: #FEFE62;
    color:#000;
}

#firstbtn, #myButton, #hypoCalc, #switchBtn, #prevBtn, #nextBtn {
    border: 2px solid #009E73;
    border-radius: 10px;
    background-color:#009E73;
    color:#fff;
    transition: background-color 0.25s;
    display:flex;
    
}
#myButton:hover, #hypoCalc:hover{
    background-color: #000;
    color:#fff;
}

#countLabel {
    display:block;
    text-align:center;
    font-size:8em;
    font-family:Helvetica;
}

#btnContainer, #footer{
    text-align:center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5 em;
    color: #fff;
    background-color:#009E73;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover, #switchBtn:hover, #dice_roll:hover, #mySubmit:hover, #prevBtn:hover
,#nextBtn:hover {
    background-color: #332288;
    color:#fff;
}

#dice_roll, #mySubmit {
    font-family: Verdana;
    text-align: center;
    background-color:#009E73;
    font-size: 1em;
    padding: 5px 25px;
    border-radius: 5px;
}

